@font-face {
  font-family: 'AdvancedPixel7';
  src: url('/fonts/AdvancedPixel7-2L9W.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Connection';
  src: url('/fonts/Connection-arMJ.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

* {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

